header{
    margin-top: -50px;
    height: 150px;
    text-align: center;
    padding: 20px;
    background-color: #F7F6FB;
}

.montserrat-900 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
}